{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["react", "@typescript-eslint", "prettier"],
	"env": {
		"es6": true,
		"browser": true,
		"jest": true,
		"node": true
	},
	"rules": {
		"prettier/prettier": ["error", { "singleQuote": false }],
		"@typescript-eslint/explicit-member-accessibility": 0,
		"@typescript-eslint/explicit-function-return-type": 0,
		"react/display-name": 0,
		"react/react-in-jsx-scope": 0,
		"react/prop-types": 0,
		"no-mixed-spaces-and-tabs": "off",
		"no-extra-boolean-cast": 0
	},
	"settings": {
		"react": {
			"pragma": "React",
			"version": "detect"
		}
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	}
}
